body {
  min-width: 400px;
}

.container {
  width: 100%;
  background-color: #E5E6E9;
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .client-desc-text-name {
    font-size: 1.3em;
    font-weight: bold;
  }

  .client-desc-text {
    font-size: 1em;
    color: '#000000'
  }

  .logo-img {
    width: 6.4em;
    height: 1.6em;
  }

  .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0.6em;
    flex-direction: column;
    align-items: center;
  }

  .client-desc-container {
    width: 100%;
    height: 320px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 0.6em;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .client-img {
    width: 150px;
    height: 150px;
    border: 2px solid #000000;
  }

  .client-desc-text-container {
    height: 100%;
    margin-top: 1em;
    align-items: center;
    text-align: center;
  }

  .alerts-info-container {
    width: 100%;
    height: 250px;
    display: flex;
    margin-top: 0.6em;
    flex-direction: column;
    justify-content: space-between;
  }

  .alerts-info {
    width: 100%;
    height: 48%;
    display: flex;
    flex-direction: column;
  }

  .alerts-info-text-title {
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 1px solid gray;
  }

  .top-margin {
    width: 100%;
    margin-top: 0.6em;
  }

  /*.left-margin {
    margin-inline-start: 60%;
  }*/
}

@media only screen and (min-width: 600px) {
  .client-desc-text-name {
    font-size: 1.5em;
    font-weight: bold;
  }

  .client-desc-text {
    font-size: 1em;
    color: '#000000'
  }

  .logo-img {
    width: 7.2em;
    height: 1.8em;
  }

  .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0.6em;
    flex-direction: column;
    align-items: center;
  }

  .client-desc-container {
    width: 100%;
    height: 200px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 1em;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .client-img {
    width: 150px;
    height: 100%;
    border: 2px solid #000000;
  }

  .client-desc-text-container {
    height: 100%;
    margin-inline-start: 2em;
  }

  .alerts-info-container {
    width: 100%;
    height: 150px;
    margin-top: 0.6em;
    display: flex;
    justify-content: space-between;
  }

  .alerts-info {
    width: 48%;
    display: flex;
    flex-direction: column;
  }

  .alerts-info-text-title {
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 1px solid gray;
  }

  .top-margin {
    width: 100%;
    margin-top: 0.6em;
  }

  /*.left-margin {
    margin-inline-start: 60%;
  }*/
}

@media only screen and (min-width: 768px) {
  .client-desc-text-name {
    font-size: 1.8em;
    font-weight: bold;
  }

  .client-desc-text {
    font-size: 1.3em;
    color: '#000000'
  }

  .logo-img {
    width: 8em;
    height: 2em;
  }

  .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 1em;
    flex-direction: column;
    align-items: center;
  }

  .client-desc-container {
    width: 100%;
    height: 200px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 1em;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .client-img {
    width: 150px;
    height: 100%;
    border: 2px solid #000000;
  }

  .client-desc-text-container {
    height: 100%;
    margin-inline-start: 2em;
  }

  .alerts-info-container {
    width: 100%;
    height: 150px;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
  }

  .alerts-info {
    width: 48%;
    display: flex;
    flex-direction: column;
  }

  .alerts-info-text-title {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid gray;
  }

  .top-margin {
    width: 100%;
    margin-top: 1em;
  }

  /*.left-margin {
    margin-inline-start: 60%;
  }*/
}

.client-desc-alert-line {
  position: absolute; 
  right: 0;
  top: 0;
  height: 100%; 
  width: 50px; 
  background-color: red;
}

.alerts-info-text {
  margin-top: 10px;
  font-size: 1em;
  height: 100%;
  overflow: auto;
}

.alerts-list {
  padding: 0;
  width: 100%;
}

.alerts-list li {
  padding: 15px;
  border-bottom: 1px solid gray;
  list-style: none;
}

.alerts-list li:hover {
  padding: 15px;
  border-bottom: 1px solid gray;
  background-color: #EEECEC;
  cursor: pointer;
  opacity: 0.5;
  list-style: none;
}

.alerts-list li:after {
  clear: both;
}

.left-margin {
  margin-inline-start: 50%;
}

